#root{
    margin: 0px;
    padding: 0px;
}


.contenedorPadre{
    margin-top: 20px;   /*Chatpgt me ayudó a crear un contenedor padre, ya que necesitaba que ocupara toda la pantalla*/
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: auto;
}

.Contenedor_lista_tablero {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: auto;    /* El ancho depende de su contenido */
    height: auto;   
    margin-bottom: 200px;
    margin-right: 150px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;      
}

.logo-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%; 
    width: 60%; 
    position: absolute; 
    top: 60%; 
    left: 47%; 
    transform: translate(-50%, -50%); 
    z-index: -1; 
}

.logo-central img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto;}


