
.contenedorPadre{   /*Chatpgt me ayudó a crear un contenedor padre, ya que necesitaba que ocupara toda la pantalla*/
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;               /* Asegura que ocupe toda la altura de la pantalla */
}


.Contenedor_lista_tablero{
    display: flex;               
    align-items: flex-start;      /* Chatgpt para que inicie a la izquierda */
    margin: 0px;
}
